<header class="bg-white shadow px-6 py-4">
  <div class="flex justify-between items-center">
    <a routerLink="/dashboard" class="cursor-pointer">
      <h1 class="text-2xl font-bold">El Regalo Perfecto, S.A.</h1>

      <p class="text-sm text-gray-500">Sistema Punto de Venta</p>
    </a>

    <div class="flex items-center gap-4">
      <span class="font-medium">
        {{ username }}
      </span>

      <div class="w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center">xd</div>
    </div>
  </div>
</header>
