# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Angular (frontend)
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/

# Node
frontend/node_modules/
npm-debug.log
yarn-error.log

# IDEs y editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Vs Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Angular cache
frontend/.angular/
frontend/.angular/cache/

# Spring Boot
backend/target/

# Miscellaneous
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Otros
Docs/


























